.container {
  width: 320px;
  border: 2px solid #333;
  padding: 15px;
  margin-bottom: 30px;
  background-color: white;
  box-sizing: border-box;
  overflow-x: auto;
}

.container h1 {
  margin: 0;
    font-size: clamp(16px, 5vw, 42px);
  color: #333;
  word-break: keep-all !important;
  white-space: nowrap;
}

.label {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  font-weight: bold;
}

code {
  background-color: #f4f4f4;
  padding: 2px 6px;
  border-radius: 3px;
  font-family: "Courier New", monospace;
}

body {
  padding: "20px";
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  background-color: #fff3cd;
  border: 1px solid #ffc107;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.desc {
  max-width: 800px;
  margin-bottom: 30px;
}
